@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Manrope', -apple-system, sans-serif;
}

body {
  background-color: #13131b;
  color: #e4e1ed;
  -webkit-font-smoothing: antialiased;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  vertical-align: middle;
}
